site/
projects/demonstrator/
projects/django/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Tools / Caches
.ruff_cache/
.pytest_cache/
.coverage
*.db

# Environments
.venv/
.env

# Node
node_modules/
