# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
*.db
.coverage
dist/

# Tools / Caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Environment
.env

# Frontend
frontend/dist/
frontend/node_modules/
frontend/test-results/
frontend/playwright-report/

# MkDocs
site/
